.addP-container {
    width: 100%;
    height: 100vh;
    padding-left: 5vw;
    padding-top: 2vw;
}

h2 {
    font-size: 2vw;
    color: var(--blue);
    font-weight: 500;
}

.subheading {
    color: #5E5E5E;
    font-size: 1.2vw;
    padding: 0.5vw 0;
}

button {
    font-size: 1.2vw;
    width: 7vw;
    height: 3vw;
    background-color: var(--blue);
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.profileForm {
    
    font-size: 1.3vw;
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.formData{
    width: 65%;
}

select, input {
    font-size: 1.2vw;
    padding: 4px;
    border: 2px solid #D9D9D9;
    border-radius: 4px;
    background-color: #fff;
    margin: 8px;
}

input {
    width: 20%;
}

.details1 {
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-bottom: 0.5vw;
}

.details2 {
    margin-bottom: 1vw;
}
/* Img styling*/
.formImg{
    width: 35%;
}
.formImg img{
    width:10vw;
    margin: 0 0 0 4vw;
}
.chhosebtn{
    width: 16vw;
}