.supportCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 70%;
    height: 30vw;
    border-radius: 4px;
    margin: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.supportCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content h3{
    text-align: left;
    margin-bottom: 24px;
}