:root {
  --blue: #303090;
  --white: rgb(227, 227, 227);
}
.chatMainConatiner{
  height: 88vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.chatSubcontainer{
    height: 85vh;
    width: 85vw;
    background-color: var(--white);    /* background of chatting area*/
    display: grid;
    grid-template-columns: 25% 75%;
}