.posts{
    display: flex;
    justify-content: space-around;
    padding: 24px;
    flex-wrap: wrap;
}

.instaContainer h1{
    font-size: 28px;
    margin-top: 1vw;
}

@media only screen and (max-width: 800px){
    .instaContainer h1{
        font-size: 20px;
    }
}