.AlumniContainer {
    /* background-color: rgb(229, 180, 117); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AlumniHead {
    color: var(--blue);
    font-weight: 500;
    font-size: 32px;
}

.alumnidata {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px;
    margin-bottom: 24px;
}

.cardContainer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 234px;
    height: 300px;
    margin: 20px 12px;
    background-color: transparent;
}

.cardContainer {
    transition: transform 0.3s ease-in-out;
}

.cardContainer:hover {
    transform: scale(1.1);
}

.userImg {
    width: 100%;
    height: 75%;
}

.userDetail {
    padding: 12px 10px;
    color: #5D5D5D;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.userName {
    font-weight: 500;
    color: #000;
}

