.AlumniContainer {
    /* background-color: rgb(229, 180, 117); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AlumniHead {
    font-size: 2.5vw;
    color: var(--blue);
    font-weight: 500;
}

.alumnidata {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 16px;
    margin-bottom: 24px;
}

.cardContainer {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 234px;
    height: 300px;
    margin: 20px 12px;
    background-color: rgb(236, 236, 236);
}

.cardContainer {
    transition: transform 0.3s ease-in-out;
}

.cardContainer:hover {
    transform: scale(1.1);
}

.userImg {
    width: 100%;
    height: 75%;
    background-color: rgb(188, 188, 188);
}

.userDetail {
    padding: 5px 10px;
    color: #5D5D5D;
}

.userName {
    font-weight: 500;
    color: #000;
}

.morebtn {
    font-size: 1.2vw;
    background-color: var(--blue);
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 1vw 2vw;
    margin-bottom: 4vw;
}

.morebtn:hover {
    background-color: #202060;
}