@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    /* background-color: #FCFCFC; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #303090;
}

.NavContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    /* position: fixed; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* clg logo */
.DomainImg {
    width: 70%;
    cursor: pointer;
}

/* left and right div of nav */
.NavLeft, .NavRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* website/domain name */
.DomainName {
    margin: 0;
    font-size: 2opx;
    color: var(--blue);
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

/* Nav other links like alumni about */
.NavRight-Left {
    display: flex;
}

.links {
    font-size: 20px;
    color: var(--blue);
    cursor: pointer;
    margin: 16px;
    text-decoration: none;
}

.search-box {
    display: flex;
    align-items: center;
}

/* Nav searchbar */
.search-box input {
    width: 400px;
    height: 48px;
    margin: 0;
    padding: 0 8px;
    padding-left: 40px;
    position: relative;
}

.search-box input:focus {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #a3a3a3;
    border-radius: 0;
}

.search-box i {
    position: absolute;
    color: grey;
}

.search-icon {
    padding-right: 20vw;
    padding-left:0.5vw ;
}

.clear {
    right: 130px;
    cursor: pointer;
}


/* login button */
.button {
    font-size: 18px;
    width: 72px;
    height: 40px;
    background-color: var(--blue);
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #202060;
}

a, a:visited {
    color: var(--blue);
}

a:hover, .links:hover {
    color: #7575B5;
}

a:active {
    color: #202060;
}

/* login and logout css */
.loginbtn {
    position: relative;
}

.logoutbtn {
    position: absolute;
    display: none;
    font-size: 16px;
    width: 5vw;
    /* height: 2vw; */
    padding: 8px;

}

.loginbtn:hover .logoutbtn {
    display: block;
    color: #ff0000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .navbar-mobile {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 16px;
    }

    .NavRight-mobile, .NavRight-Left-mobile {
        display: flex;
        flex-direction: column;
    }

    .DomainName {
        font-size: 20px;
    }

    .NavLeft-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .NavRight, .NavLeft, .NavContainer {
        display: none;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        top: 9vw;
        left: -10vw;
        z-index: 2;
        /* margin-right:10vw ; */
    }

    .navbar__hamburger {
        color: var(--blue);
        display: flex;
        flex-direction: column;
        
    }

    .NavRight-Left-mobile{
        display: flex;
        flex-direction: column;
    }
    .sidePanel{
        display: flex;
        align-items: center;
        position: relative;
    }

    /* logout btn */
    .logoutbtn{
        width: 20vw;
        left:-10vw;
    }
}