.features {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 7rem;
}

.feature-card-txt {
    width: 50%;
}

.feature-card-txt h3 {
    color: var(--blue);
    font-weight: 500;
    text-align: left;
}

.feature-card-txt p {
    color: #5d5d5d;
    font-size: 18px;
    line-height: 1.5rem;
}

.feature-card-img {
    width: 50%;
}

.feature-card-img img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .feature-card {
        width: 80%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .feature-card-txt p {
        font-size: 16px;
        line-height: 1.3rem;
    }

    #last-card{
        margin-bottom: 2rem;
    }
}