.pageFooter {
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 4px;
    font-size: small;
    background-color: var(--blue);
    color: white;
}

.pageFooter p {
    margin-top: 16px;
    margin-bottom: 8px;
}

.pageFooter a {
    padding: 4px;
    color: white !important;
}

.pageFooter a:hover {
    color: rgb(223, 223, 223) !important;
}

.map {
    border: 0;
}