.pageFooter {
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 4px;
    font-size: small;
    border-top: 1px solid #f2f2f2;
}

.pageFooter p {
    margin-bottom: 8px;
}

.pageFooter a{
   padding: 4px;
}