.faculty-container {
    width: 100vw;
}

.faculty-container h1 {
    text-align: center;
    margin-top: 1vw;
}

.faculty-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}